%h1= @event.name
.well.well-small 
  %dl
    %dt
      User
    %dd
      = @event.mm_user.email
    %dt
      = t.event.location
    %dd
      = @event.location
    %dt
      = t.event.date
    %dd
      = l @event.date, :human
    %dt
      = t.event.users
    %dd
      = @members.collect{|member| member.email}.join(", ")
%table.table.table-striped.table-bordered.sum
  %thead
    %tr
      %th= t.event.items.item
      %th= t.event.items.amount
      %th= t.event.items.user
      %th{:colspan => 2}
  %tbody       
  - @event.items.each do |item|
    %tr
      %td
        = item.name
      %td
        = "#{"%.2f" % item.amount}"
      %td
        = item.mm_user.email
      - if item.mm_user.id == current_user.id
        %td 
          %a{:href => "/events/#{@event._id}/#{item._id}/edit"}
            %i.icon-pencil
            = t.event.items.edit.button
      - if item.mm_user.id == current_user.id || @event.mm_user.id == current_user.id
        %td
          %a{:href => "/events/#{@event._id}/#{item._id}/delete"}
            %i.icon-trash
            = t.event.items.delete
      - else
        %td
        %td
  %tfoot.sum
    %tr
      %td
        %b Sum:
      %td 
        =  "#{"%.2f" % @sum}"
      %td
      %td{:colspan => 2}

- if @part != 0
  .well
    =  "#{"%.2f" % @sum}" 
    = " / " +  @event.members.count.to_s + " = " 
    %b
      = "#{"%.2f" % @part}"
 
.well
  - if @event.open
    - if @event.members.include? current_user.id
      %form{:action=>"/events/#{@event._id}/add", :method=>"post"}
        %legend= t.event.items.add.legend
        %fieldset
          = input(:item,:name, :placeholder => "Name")
          = input(:item,:amount, :placeholder => "0.00")
        %button.btn.btn-primary{:type => "submit"}= t.event.items.add.submit
    - else
      %p 
        %a.btn.btn-primary{:href => "/events/#{@event._id}/join"}= t.event.join
    - if @event.mm_user_id == current_user.id 
      %p
        %a.btn.btn-success{:href => "/events/#{@event._id}/close"}= t.event.close
 
        
  %a.btn{:href => "/"}= t.back